$color-main: #ff6c00;
$color-primary: rgb(43, 43, 43);
$color-background: rgb(245, 245, 245);

// Media Queries Breakpoints

$mq-xs: "576px";
$mq-sm: "768px";
$mq-md: "992px";
$mq-lg: "1200px";
$mq-xlg: "1440px";