/*
    Helper Classes
*/

.z-index-2{
    z-index: 2;
    position: relative;
}

.display-none{
  display: none;  
}

.text-center {
    text-align: center;
}

.fa-8x {
    font-size: 7em!important;
}

.reset-m-all {
    margin: 0;
}

.reset-p-all {
    padding: 0;
}

.m-r-sm {
    margin-right: 10px;
}

.m-t-sm {
    margin-top: 10px;
}

.m-b-xs {
    margin-bottom: 5px;
}

.m-b-lg{
    margin-bottom: 20px;
}
