/*
    Media Queries
*/

@media screen and (max-width: 800px) {
    #fp-nav {
        display: none;
    }

    ul.list li {
        list-style: none;
        margin-bottom: 10px;
        font-size: 1.3em;
    }

    .section-title {
        margin-bottom: 20px;
        font-size: 2.5em;
        font-weight: 800;
    }
	
	.container-fluid{
	padding-left: 20px;	
}

}

@media screen and (max-width: 370px) {
    .movaEsquerda .slider-content {
        width: 230px;
        max-height: 470px;
    }
}

@media screen and (max-height: 750px),
screen and (max-width: 1000px) {
    .logotipo {
        width: 120px;
        top: 25px;
        left: 20px;
    }
    .modulosadicionais-topico{
        margin-top: 0;
    }
    .m-t-contact{
        margin-top: 0;
    }
}

@media screen and (max-height: 550px) {
    .slider-animator {
        top: 0%;
    }
    
    .m-t-contact {
    margin-top: 70px;
}
    
}

@media screen and (max-width: 900px) {
    .container-reset-p {
        padding-left: 15px;
        padding-right: 15px;
    }
    .resp-m-b-modulos{
        margin-bottom:100px;
    }
    .xs-display-none{
        display:none;
    }
}
