@mixin transition($value) {
    transition: $value;
    -ms-transition: $value;
    -moz-transition: $value;
    -o-transition: $value;
    -webkit-transition: $value;
}

@mixin transform($x, $y) {
    transform: translate($x, $y) ease-in-out;
    -moz-transform: translate($x, $y) ease-in-out;
    -o-transform: translate($x, $y) ease-in-out;
    -webkit-transform: translate($x, $y) ease-in-out;
    -ms-transform: translate($x, $y) ease-in-out;
    will-change: transform;
}

@mixin gradient($valueStart, $valueEnd, $Else) {
    background: $Else;
    background: -webkit-linear-gradient(left, $valueStart, $valueEnd);
    background: -ms-linear-gradient(left, $valueStart, $valueEnd);
    background: -o-linear-gradient(right, $valueStart, $valueEnd);
    background: -moz-linear-gradient(right, $valueStart, $valueEnd);
    background: linear-gradient(to right, $valueStart, $valueEnd);
}

@mixin background($url) {
    background-image: url($url);
    -moz-background-image: url($url);
    -o-background-image: url($url);
    -webkit-background-image: url($url);
    -ms-background-image: url($url);
    background-size: cover;
    background-repeat: no-repeat;
}
